/* Global variables and defaults */
:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
}

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
    width: 100%;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Light background */
    color: rgba(0, 0, 0, 0.87); /* Dark text color */
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

/* Typography */
h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

/* Button Styles */
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a; /* Dark button background */
    color: white; /* Button text color */
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

/* Input Field Styles */
input, textarea, select {
    background-color: #ffffff; /* White background for inputs */
    color: #000; /* Black text color */
    border: 1px solid #ccc; /* Light border */
    border-radius: 8px; /* Rounded corners */
    padding: 0.6em; /* Padding for inputs */
    font-size: 1em; /* Font size */
    transition: border-color 0.25s; /* Smooth transition */
}

input:focus {
    border-color: #646cff; /* Change border color on focus */
    outline: none; /* Remove default outline */
}

/* Dark Mode Styling */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212; /* Dark background */
        color: white; /* Light text color */
    }

    input, textarea, select {
        background-color:  #fff; /* Dark background for inputs */
        color: rgb(0, 0, 0); /* Light text color */
        border: 1px solid #444; /* Darker border */
    }

    button {
        background-color: #1a1a1a; /* Dark button background */
    }
}

/* Light Mode Styling */
@media (prefers-color-scheme: light) {
    :root {
        color: #213547; /* Dark text color */
        background-color: #ffffff; /* Light background */
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9; /* Light button background */
    }
}
